#applications {}

#applications-container {
    padding: 20px;
}

.application {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

#noResults {
    margin-top: 15vh;
    font-size: 150%;
}

#noResults>svg {
    font-size: 300%;
}