@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.App {
    font-family: 'Roboto Condensed', sans-serif;
}

input {
    font-family: inherit;
}

#menu {
    height: 100vh;
    overflow-x: hidden;
    background-color: #BFD8BD;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.35);
}

#close-button {
    display: grid;
    justify-content: right;
    font-size: 200%;
    height: 45px;
    padding-right: 10px;
}

#close-button>span {
    cursor: pointer;
}

#menu-top-container {
    display: grid;
    padding-top: 10px;
    padding-left: 82px;
    grid-template-columns: 1fr 1fr;
}

#menu-top-container>.logo {
    justify-self: left;
}

.showMenu {
    transition: 0.2s;
    width: 20vw;
}

.hideMenu {
    transition: 0.2s;
    width: 0;
    padding: 0;
}

.menu-item {
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 0;
    padding-left: 20%;
}

.menu-item:hover, .current-page {
    background-color: rgba(255, 255, 255, 0.384);
}

@media screen and (max-width: 992px) {
    .showMenu {
        width: 30vw;
    }
}

@media screen and (max-width: 600px) {
    .showMenu {
        width: 70vw;
    }
}