#search {
    display: grid;
    grid-template-columns: 1fr 9fr;
    background-color: white;
    padding: 10px;
    font-size: 120%;
    margin: 25px 10px;
    /* font-size: 25px; */
    border-radius: 5px;
    /* margin-bottom: 50px; */
}

#search>input {
    border: 0;
    outline: none;
    color: inherit;
    font-size: inherit;
    width: 100%;
}

#search:focus-within {
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.35);
}

#search>svg {
    align-self: center;
}